
GEMINI_API_KEY="MY_GEMINI_API_KEY"

APP_URL="MY_APP_URL"

# TWILIO credentials for Parent Notification System
TWILIO_ACCOUNT_SID="ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
TWILIO_AUTH_TOKEN="your_auth_token"
TWILIO_PHONE_NUMBER="+1234567890"
